* {
  font-family: "Amatic SC", cursive;
  /* text-shadow: 1px 2px 2px black; */
  text-transform: uppercase;
}
body {
  background-image: url("../image/default.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#search-form {
 padding: 20px 0px 0px;
}
#search-input {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: none;
}
hr {
  background-color: white;
}
#search-button,
#current-location-button {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: none;
  border: 1px solid #ffc93c;
  color: #2d5ac1;
  background-color: #ffc93c;
}
#search-button {
  border: 1px solid #2d5ac1;
  color: #ffc93c;
  background-color: #2d5ac1;
  
}
#search-button:hover {
  border: 1px solid #ffc93c;
}
#search-button:focus {
  border: 2px solid #ffc93c;
}

#current-location-button:hover {
  border: 1px solid #2d5ac1;
}
#current-location-button:focus {
  border: 2px solid #2d5ac1;
}
#humidity,
#wind-speed,
#temperature {
  color: #ffc93c;
}
.search-field {
  padding-top: 60px;
}
.current-city {
  padding-top: 60px;
  margin-bottom: 80px;
}
.layout {
  border-radius: 20px;
}
.city-main {
  text-transform: uppercase;
  font-size: 120px;
  color: white;
  text-shadow: 2px 2px 2px black;
}
.day-hour {
  text-shadow: 2px 2px 2px black;
  padding-top: 20px;
  font-size: 50px;
  color: white;
}
.sun {
  font-size: 80px;
  color: #ffc93c;
  text-align: center;
}
.icon {
  scale: 1.2;
}
.temperature-middle {
  text-transform: uppercase;
  font-size: 80px;
  text-shadow: 2px 2px 2px black;
  color: white;
  text-align: center;
  padding-top: 20px;
}
.weather-info {
  font-size: 50px;
  color: white;
  text-align: right;
  text-shadow: 2px 2px 2px black;
  padding-top: 10px;
}
.col-lg-1 {
  border: 1px solid white;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.monday {
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  font-size: 40px;
  text-transform: uppercase;
}
#temperature {
  color: white;
}
#celsius,
#fahrenheit {
  text-decoration: none;
  text-shadow: 2px 2px 2px black;
}
#fahrenheit {
  color: #ffc93c;
}
.link-github {
  font-size: 30px;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.link-github:hover, #celsius:hover {
  color: #ffc93c;
}
#fahrenheit:hover {
  color: #2d5ac1;
}
.link-box {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0 0 0;
}
